*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Open Sans', sans-serif;
		}
		div.wave{
			width: 100%;
			height: 900px;
			overflow: hidden;
		}
		div.wave1{
			width: 100%;
			height: 700px;
			overflow: hidden;
		}
		.wave, .wave1, .wave-input{
			position: relative;
			background: #7F7770 0% 0% no-repeat padding-box;
			opacity: 0.8;
		}
		.wave:before,
		.wave1:before,
		.wave-input:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 150px;
			background: url(image/assignment1.png);
			background-size: cover;
			background-repeat: no-repeat;
		}
		.wave:after,
		.wave1:after,
		.wave-input:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 150px;
			background: url(image/assignment3.png);
			background-size: cover;
			background-repeat: no-repeat;
		}
		.header{
			margin-top: 10px;
			display: grid;
			grid-template-columns: 450px 80px 80px 120px 120px 80px;
			font-size: 12px;
		}
		img.logo{
			height: 40px;
			width: 40px;
			margin-left: 20px;
		}
		.menu{
			margin-top: 10px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1;
		}
		.search-box{
			background: #7F7770 0% 0% no-repeat padding-box;
			opacity: 0.47;
			height: 40px;
			border-radius: 40px;
			padding: 5px;
			border: none;
			outline: none;
		}
		.button-search{
			position: absolute;
			height: ;
			top: 22px;
			right: 120px;
			color: #616668;
			font-size: 20px;
		}
		img.a2-img{
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 900px;
		}

		a{
			text-decoration: none;
			color: black;
		}
		.time p, .ld p, .rm p, .details p{
			position: absolute;
			left: 100px;
		}
		.time p{
			top: 300px;
			color: #DEB37E;
			font-weight: bold;
			font-size: 47px;
			text-transform: uppercase;
			letter-spacing: 2;
			text-shadow: 2.5px 2.5px 2.5px #DEB37E;
		}
		.ld p{
			top: 430px;
			color: black;
			font-weight: 900;
			font-size: 15px;
			font-style: italic;
			text-transform: uppercase;
			letter-spacing: 2;
		}
		.rm p{
			top: 490px;
			color: black;
			background: white;
			font-weight: 900;
			letter-spacing: 0;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 2;
			padding: 5px 12px 5px 12px;
		}
		.details p{
			display: grid;
			grid-template-columns: 400px;
			top: 540px;/*
			font-weight: 600;*/
			color: black;
			letter-spacing: 0;
			font-size: 15px;
			font-style: italic;
		}
		.lgg p, .lgg1 p, .lgg2 p, 
		.lggg p, .lggg1 p, .lggg2 p, .lggg3 p, .lggg4 p{
			display: flex;
			justify-content: center;
			align-items: center;
			
			
		}


		.lgg p{
			color: #E2A355;
			font-size: 27px;
			font-weight: 900;
			margin-bottom: 7px;
		}


		/*lggg-div*/

		.lggg1 p, .lggg2 p, .lggg3 p{
			color: #000;
			text-shadow: .2px .2px .2px #000 ;
			margin-bottom: 7px;

		}

		.lggg-div{
			margin-top: 100px;
		}

		.lggg p{
			color: #000;
			font-size: 26px;
			font-weight: 900;
			text-shadow: .2px .2px .2px #000;
			margin-bottom: 7px;
		}

		.lggg4 p{
			color: #000;
			font-size: 12px;
			font-weight: 900;
			text-shadow: .3px .3px .3px #000 ;
			text-shadow: .2px .2px .2px #000;
			margin-top: 15px;
			margin-bottom: 7px;
		}
		.card-grid{
			display: grid;
			grid-template-columns: auto auto auto;
			grid-column-gap: 40px;
			margin: 30px 60px;
		}
		.container{
			background: #918D8B;
			color: white;
			padding: 20px 10px 20px 10px;
		}
		.container h1{
			margin-top: 20px;
			font-size: 20px;
			
		}
		.container p{
			margin-top: 20px;
			margin-bottom: 40px;
			font-size: 16px;
		}
		.smore{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.smore p{
			background: #918D8B;
			color: white;
			padding: 10px 25px;
			font-size: 13px;
			border-radius: 30px;
		}
	/*fourpic div stats*/
		
		.fourpic{
			margin-top: -130px;
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: 450px 450px;
		}
		.fourpic img{
			background-repeat: no-repeat;
			background-size: cover;
			width: 558px;
			height: 450px;
		}
		.fourpic .write2, .fourpic .write3{
			color: #fff;
		}
		.fourpic .write2 p, .fourpic .write2 h1, .fourpic .write2 button,
		.fourpic .write3 p, .fourpic .write3 h1, .fourpic .write3 button{
			color: #fff;
			position: relative;
			top: -340px;
			margin-top: 20px;
		}
		.fourpic .write2 p, .fourpic .write2 h1,
		.fourpic .write3 p, .fourpic .write3 h1{
		
			padding: 0 30px;
		}
		.fourpic .write2 button,
		.fourpic .write3 button{
			margin-left: 30px;
		}
		.button{
			background: #E2A355;
			padding: 10px 15px;
			outline: none;
			border: none;
			color: #fff;
			border-radius: 40px;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;text-shadow: .5px .5px .5px #fff;
			letter-spacing: 1;
		}
	/*fourpic div ands*/
		.hitm h1{
			position: absolute;
			left: 40%;
			top: 280px;
			color: #fff;
			font-weight: 700;
			font-size: 20px;
		}
		.details-hitm{
			position: absolute;
			left: 30%;
			top: 380px;
			color: #fff;
			font-weight: 700;
			font-size: 12px;
		}
		.details-hitm p{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	/*hiking in the mountains*/
	/*f1*/
	.f1{
	position: relative;
	top: -140px;
	left: 0px;
	height: 300px;
	width: 400px;
	}


	/*f2*/

	.f2{
	position: relative;
	top: -240px;
	left: 717px;
	height: 300px;
	width: 400px;
	z-index: 1;
	}


	/*edw*/

	.edw1{
		position: relative;
		top: -510px;
		font-size: 40px;
		color: #F98749;
		left: 800px;
		font-style: italic;
		font-weight: 900;
		text-shadow: 1.5px 1.5px 1.5px #F98749;
	}

	.edw2{
		position: relative;
		top: -500px;
		font-size: 46px;
		color: #000;
		left: 730px;
		font-style: italic;
		font-weight: 900;
		text-shadow: 1.5px 1.5px 1.5px #000;
	}



	/*free-card*/
		.card-grid{
			display: grid;
			grid-template-columns: auto auto auto;
			grid-column-gap: 40px;
			margin: 30px 60px;
		}
		.free-card{
			/*background: #918D8B;
			color: white;*/
			padding: 20px 10px 20px 10px;
		}
		.free-card h1{
			margin-top: 20px;
			font-size: 20px;
			color: #FF9E6D;
			text-shadow: .2px .2px .2px #FF9E6D;
			
		}
		.free-card p{
			margin-top: 20px;
			margin-bottom: 40px;
			font-size: 16px;
		}



		/*input-div*/

		.wave-input{
			margin-top: -360px;
		}

		.hitminp h1{
			position: absolute;
			left: 44%;
			top: 280px;
			color: #fff;
			font-weight: 700;
			font-size: 20px;
			text-shadow: .3px.3px .3px #fff;
		}
		.details-hitminp{
			position: absolute;
			left: 25%;
			top: 380px;
			color: #000;
			font-size: 12px;
			text-shadow: .1px.1px .1px #000;
		}
		.details-hitminp p{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.mail{
			position: absolute;
			left: 32%;
			top: 450px;
			color: #000;
			font-size: 12px;
		}

		.your-email{
			/*background: #BEBEBE;*/
			width: 400px;
			height: 40px;
			border-radius: 40px;
			padding: 5px 5px 5px 20px;
			border: none;
			outline: none;
		}
		.subscribe{
			position: absolute;
			top: 0px;
			right: 0px;
			background: #413B37;
			color: #fff;
			border-radius: 40px;
			padding: 11px 15px;
			border: none;
			outline: none;
		}

		img.a3-img{
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 700px;
		}


		/*fina;-div*/

		div.wavefinal{
			width: 100%;
			height: 600px;
			overflow: hidden;
		}
		.wavefinal{
			position: relative;
			background: #D3DBDE;
		}
		.wavefinal:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 150px;
			background: url(image/assignment1.png);
			background-size: cover;
			background-repeat: no-repeat;
		}

		.finalwrite{
			position: relative;
			top: -400px;
			color: #fff;
			display: grid;
			grid-template-columns: 50% auto auto auto;
			padding: 0 5%;
		}
		.final-title-details{
			margin-right: 20%;
		}

		.images-finaldiv img{
			height: 25px;
			width: 25px;
			margin: 5px;
		}

		.f3h{
			position: relative;
			top: -500px;
			left: 10px;
			height: 300px;
			width: 450px;
		}